<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piggy Piggy</title>
    <link rel="stylesheet" href="/css/index.css" >
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="stylesheet" href="/css/squiggly.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<div class="container-fluid">
    <% include partial/top_bar.ejs%>

    <div id="content" class="row">
        <div class="learn-more-wrapper" id="allContent">
            <p class="des-content" id="content">
                1. Please try to feed the cute piggy with healthy food.<br>
                2. Piggy may not be happy with it, but it is healthy.<br>
                3. Fast food is not healthy, but piggy loves it.<br>
                4. Healthy food needs to be planted to the farm first.<br>
                5. Piggy will reward you some golds once you feed the piggy.<br>
                6. Fast food can be eaten directly using 1 second.<br>
                7. Healthy food, on the other hand, requires 10 seconds.<br>
                8. It is for you to learn which are healthy.<br>
            </p>

        </div>
    </div>

</div>
<% include partial/squiggly.ejs%>
</body>


</html>