
#bar ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #265828;
    width: 100%;
}

#bar li {
    float: left;
    border-right:1px solid #bbb;
    width: auto;
    font-size: 1.2vw;
}

#bar li:last-child {
    border-right: none;
}

#bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#bar li a:hover:not(.active) {
    background-color: orange;
    color: #111111;
}

.top-ul-wrapper {
    position: relative;
}

.active-btn {
    background-color: chocolate;
}

.bar-btn-style {
    color: white;
}

.bar-btn-style:hover {
    color: red;
}

.bottomRight {
    position: absolute;
    top:85%;
    left: 93%;
    transform: translate(-50%, -50%);
}

.logo-style {
    width: 100%;
    max-width: 240px;
    height: auto;

}

.logo-wrapper {
    width: 15vw;
    height: auto;
    float: right;
}


.headline {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    line-height: 20px;
    letter-spacing: 4px;
    font-weight: bold;
}

.content-wrapper {
    margin: 10vh auto;
    text-align: center;
    width: 40vw;
}

.learn-more-wrapper {
    margin: 10vh auto;
    text-align: left;
    width: 40vw;
}

.des-content {
    margin: auto;
    font-size: 2vw;
    line-height: normal;
    letter-spacing: -1px;
    font-weight: bold;
    color: darkorange;
}

.title-wrapper {
    width: 50vw;
    margin-top: -6vh;
    margin-bottom: auto;
}
